.header {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px 50px;
  position: fixed;
  width: 100%;
  z-index: 9;
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  height: 72px;
}

.header > h2 {
  padding: 0 10px;
}

.header > .ham-btn {
  padding: 0 10px;
  font-size: 25px;
  z-index: 9999;
}

.menu-items {
  display: none;
}

.zidx {
  color: white;
}

.show-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(99, 125, 255, 0.9);
  width: 100vw;
  height: 100vh;
  display: block;
}

.show-menu > ul {
  margin: 50px 0 0 50px;
}

.show-menu > ul > li {
  font-size: 32px;
  list-style-type: none;
  padding: 45px;
}

@media only screen and (min-width: 768px) {
  .header > .ham-btn {
    display: none;
  }

  .menu-items {
    display: block;
  }

  .menu-items > ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
}
